* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.card {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid black;
}

.card-price {
    border: 1px solid black;
    width: 50%;
}

.card-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.cardImage {
    width: 250px;
    height: 590px;
    border: 3px solid black;
    margin: 2rem;
}

.Images {
    width: 250px;
}

.realtive {
    position: relative;
}

.card-copyright {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}