.card{
    display: flex;
    justify-content: left;

}

.card-price{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    text-align: center;
    font-size: medium;
    padding: 10px;
}
.card-date{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    text-align: center;
    font-size: medium;
    padding: 10px;
}