.boxes{
    width: 400px;
    height: 50px;
    float: left;
}

.neil1, .buzz, .neil2, .neil3, .neil4 {
    position: relative;
    border: 1px solid rgb(196, 190, 190);
    margin: 0 20px 20px 0 ;
    box-shadow:2px 2px 5px 2px rgba(0, 0, 0, 0.2); 
}

.close{
    position: absolute;
    top: -7px;
    right: -10px;
    background-color: transparent;
    border: 1px solid red;
    background-color: red;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.video{ 
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px; 
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}